/* Cart Button */
.cartButton {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 24px;
}

/* Shopping Cart Icon */
.shoppingCartIcon {
  height: 32px; /* Adjusted size for cart icon */
  width: 32px;
  color: #000; /* Black color */
}

/* Cart Count */
.cartCount {
  background-color: #dc2626; /* Red for the count */
  border-radius: 9999px;
  width: 20px;
  height: 20px;
  font-size: 12px; /* Small font size for the count */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the count */
  color: #fff; /* White text */
  position: absolute;
  top: -10px; /* Adjust positioning */
  right: -10px; /* Adjust positioning */
}
